<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DictionaryAppForIT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="DictionaryApp" connectionString="Data Source=DESKTOP-DIIHU0F;Initial Catalog=EnglishDictionary2;Integrated Security=True"/>
	</connectionStrings>
    <userSettings>
        <DictionaryAppForIT.Properties.Settings>
            <setting name="TenDangNhap" serializeAs="String">
                <value />
            </setting>
            <setting name="MatKhau" serializeAs="String">
                <value />
            </setting>
        </DictionaryAppForIT.Properties.Settings>
    </userSettings>
</configuration>